html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(255, 255, 250)
}

/* EFFECT LIBRARY PAGE */

.tableBox {
    display:flex;
    flex-direction: column;
    align-content:center;
    margin:auto;
    width: 80%;
}

.tableHeadline {
    display:flex;
    justify-content:center;
}

.tableHeadline h5 {
    font-weight:bold;
}

.table {
    width: 100%;
    border:solid;
    border-width:1px;
    border-color:black;
    border-bottom:none;
}

.table tbody tr:nth-child(2n+1) {
    background-color:rgb(240,240,240)
}

.tr {
    width: 25%;
    border:solid;
    border-width:1px;
    border-color: black;
}

/* THE FORGE PAGE */

.ItemFrame {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.OptionsFrame {
    display:flex;
    margin:10px, 10px, 0px, 10px;
    justify-content:center;
}

.OptionsFrame button {
    width:100%;
    margin: 0px 0px 5px 0px;
}

.OptionsFrame div {
    margin:10px;
}

.OffenseFrame {
    width:20%;
}

.DefenseFrame {
    width:20%;
}

.RestorationFrame {
    width:20%;
}

.UtilityFrame {
    width:20%;
}
